.album-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    width: 90%;
    height: auto;
    margin: auto;
    font-size: 10px;
    background-color: rgb(230, 230, 230);
}

.album-header {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.album-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: auto;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px grey;
    background-color: white;
}

.album-card:hover {
    background-color: rgb(239, 235, 235);
}

.album-img {
    width: 80px;
    height: 80px;
}

.album-link {
    margin: 5px;
}

.album-title {
    font-size: 12px;
}

.album-delete-btn {
    background-color: orange;
    color: white;
    font-size: 12px;
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
}

.album-cancel-del-btn {
    font-size: 12px;
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
}

.album-delete-btn:hover {
    background-color: rgb(228, 149, 3);
}

.album-cancel-del-btn:hover {
    background-color: lightgrey;
}
