.home-container {
    width: 50%;
    height: 100%;
    margin: 90px 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

.home-page-title {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: orange;
    text-shadow: 1px 1px 8px white;
    z-index: 2;
}


.home-banner-img {
    margin: 0px auto;
    width: 100vw;
    height: 200px;
    position: absolute;
    top: 0px;
    z-index: -1;
    border: 1px solid white;
}

.album-container-home, .song-container-home {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    /* box-sizing: content-box; */
    
}

.song-container-home {
    /* border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-bottom: 40px;
    padding-right: 15px; */
}


.album-banner-home h2, .song-banner-home h2{
    font-size: 16px;
}
.album-banner-home p, .song-banner-home p{
    font-size: 10px;
    opacity: 0.5;
}
.album-banner-home, .song-banner-home {
    border-bottom: 1px dashed black;
}

.album-title-home, .song-title-home {
    font-size: 10px;
}

.album-item-home, .song-item-home {
    font-size: 10px;
}

.song-banner-home {
    border-top: 1px dashed black;
    
}

.album-card-home, .song-card-home {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.song-img-home, .album-img-home {
    width: 40px;
    height: 40px;
}

.right-container {
    margin: 225px 0px;
    position: absolute;
    right: 100px;
    top: 0px;
    font-size: 10px;
}

.media-links {
    width: 45px;
    display: flex;
    justify-content: space-between;
}

.fa-brands {
    color: orange;
    margin: 4px;
    font-size: 17px;
}

.demo-btn {
    background-color: orange;
    color: white;
    border-radius: 5px;
    width: 65px;
    margin-top: 10px;
}


