.home-container {
    width: 50%;
    height: 100vw;
    margin: 0px 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

.album-container-home, .song-container-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
    box-sizing: content-box;
}


.album-banner-home h2, .song-banner-home h2{
    font-size: 16px;
}
.album-banner-home p, .song-banner-home p{
    font-size: 10px;
    opacity: 0.5;
}
.album-banner-home, .song-banner-home {
    border-bottom: 1px dashed black;
}

.song-banner-home {
    border-top: 1px dashed black;
}

.album-card-home, .song-card-home {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.song-img-home, .album-img-home {
    width: 40px;
    height: 40px;
}

.right-container {
    position: absolute;
    right: 30px;
    top: 50px;
}


