.currentuser-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.currentuser-welcome-banner {
    height: 60px;
    margin-top: 20px;
    font-size: 33px;
}

.user-albums, .user-songs {
    height: 30px;
    font-size: 20px;
}

.user-albums-p, .user-songs-p {
    font-size: 16px;
}

.user-album-card, .user-song-card {
    width: 80px;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px auto;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 8px grey;
}

.currentuser-album-link-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    border: 1px solid black;
}

.user-album-art, .user-song-art {
    width: 60px;
    height: 60px;
}

.user-album-container, .user-songs-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    box-sizing: content-box;
    border: 1px solid silver;
    background-color: rgb(230, 230, 230);
}

.user-albums-btn, .user-songs-btn {
    color: orange;
    font-size: 16px;
    
}

.user-add-song-btn, .user-add-album-btn {
    background-color: orange;
    color: white;
    padding: 5px;
    font-size: 12px;
    margin: 10px;
    border-radius: 5px;
}

.user-add-song-btn:hover {
    background-color: rgb(232, 153, 6);
}


