.currentuser-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.currentuser-welcome-banner {
    height: 60px;
    margin-top: 20px;
    font-size: 33px;
    text-align: center;
}

.user-albums, .user-songs, .user-playlists {
    height: 30px;
    font-size: 20px;
}

.user-albums-p, .user-songs-p, .user-playlists-p {
    font-size: 16px;
}

.user-album-card, .user-song-card, .user-playlist-card {
    width: 80px;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px auto;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 8px grey;
}

.currentuser-album-link-card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    border: 1px solid black;
}

.user-album-art, .user-song-art, .user-playlist-art {
    width: 60px;
    height: 60px;
}

.user-album-container, .user-songs-container, .user-playlist-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    box-sizing: content-box;
    border: 1px solid silver;
    background-color: rgb(230, 230, 230);
}

.user-albums-btn, .user-songs-btn, .user-playlists-btn {
    color: orange;
    font-size: 16px;
    border: none;
}

.user-add-song-btn, .user-add-album-btn, .user-add-playlist-btn {
    background-color: orange;
    color: white;
    padding: 10px;
    font-size: 12px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px silver;
}

.user-add-song-btn:hover, .user-add-album-btn:hover, .user-add-playlist-btn:hover {
    cursor: pointer;
    background-color: rgb(232, 153, 6);
}

.user-album-header, .user-song-header, .user-playlist-header{
    width: 90%;
    margin: 10px auto;
}
