.album-page-container{
    width: 90%;
    margin: 0px auto;
    background-color: white;
    min-height: 100vh;
    padding-top: 1.6%;
}

.album-detail-container {
    /* display: grid;
    grid-template-columns: 2fr 2fr 2fr; */
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 5%;
    padding: 2% 0px;
    background-color: rgb(225, 224, 224);
}

.album-detail-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.album-detail-img {
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 10px grey;
    object-fit: cover;
    object-position: center;
}

.songs-side {
    width: 100%;
    /* margin-left: 2%; */
    padding-left: 10%;
    /* padding-right: -200px; */
    
}

.songs-aside h4 {
    padding-left: 200px;
    text-align: left;
}

.album-detail-title{
    font-size: 2rem;
}

.album-detail-song-list {
    font-size: 16px;
    margin-top: 10px;
}

.album-detail-btns {
    display: flex;
    flex-direction: row;
    text-align: end;
    margin: 10px;
    padding-bottom: 5px;
    width: 120px;
}

.album-detail-edit {
    margin: 10px;
    padding: 3px;
    background-color: rgb(252, 171, 84);
    color: white;
    border: none;
    box-shadow: 2px 2px 4px grey;
    border-radius: 3px;
    cursor: pointer;
}

.album-detail-delete {
    margin: 10px;
    padding: 3px;
    background-color: rgb(65, 88, 133);
    color: white;
    border: none;
    box-shadow: 2px 2px 4px grey;
    border-radius: 3px;
    cursor: pointer;
}

.album-detail-edit:hover {
    background-color: rgb(247, 138, 54);
}

.album-detail-delete:hover{
    background-color: rgb(47, 92, 198);
}

.edit-album-modal {
    width: 100px;
}

.album-detail-song-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px auto; */
    width: 95%;
}

.album-detail-song-item{
    padding-right: 150px;
    width: 100%;
}

.album-audio-player{
    width: 650px;
    height: 25px;
}

@media screen and (max-width: 1725px){
    .album-audio-player{
        width: 400px;
    }
    .album-detail-song-container{
        width: 400px;
    }
}
@media screen and (max-width: 1400px){
    .album-audio-player{
        width: 250px;
    }
    .album-detail-song-container{
        flex-direction: column;
        width: 200px;
    }
}

.album-alternatives{
    width: 90%;
    margin: 0px auto;
    padding-top: 2%;
}
