.album-detail-container {
    /* display: grid;
    grid-template-columns: 2fr 2fr 2fr; */
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10%;
    background-color: rgb(225, 224, 224);
}

.album-detail-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
    padding: 5px;
}

.album-detail-img {
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 10px grey;
}

.song-side {
    width: 100%;
    margin-left: 50px;
}

.album-detail-song-list {
    font-size: 16px;
}

.album-detail-btns {
    text-align: end;
    margin: 10px;
    width: 120px;
}

.album-detail-edit {
    margin: 10px;
    padding: 3px;
    background-color: rgb(252, 171, 84);
    color: white;
    border: none;
    box-shadow: 2px 2px 4px grey;
    border-radius: 3px;
    cursor: pointer;
}

.album-detail-delete {
    margin: 10px;
    padding: 3px;
    background-color: rgb(65, 88, 133);
    color: white;
    border: none;
    box-shadow: 2px 2px 4px grey;
    border-radius: 3px;
    cursor: pointer;
}

.album-detail-edit:hover {
    background-color: rgb(247, 138, 54);
}

.album-detail-delete:hover{
    background-color: rgb(47, 92, 198);
}

.edit-album-modal {
    width: 100px;
}
