.footer-container {
    /* display: none; */
    position: sticky;
    width: 100%;
    bottom: 100px;
    right: 0;
    /* margin-bottom: -21%; */
    background-color: rgb(56, 56, 56);
    color: white; 
    z-index: 100;
}

@media screen and (max-width: 1600px){
    .footer-container {
        bottom: -20%;
    }
}

.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    padding-top: 15px;
}

.footer-container p {
    text-align: center;
    margin-bottom: 7px;
    margin-top: 7px;
    color: silver;
    font-size: 11px;
}
