.create-comment-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-comment-form input {
    width: 450px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
}

.submit-comment {
    background-color: transparent;
    /* background-color: black; */
    padding: 5px;
    color: #ff5500;
    border: none;
    margin-left: 5px;
}
.submit-comment:hover {
    cursor: pointer;
    color: rgb(224, 151, 16);
    border: none;
}
.submit-comment:disabled{
    color: grey;
}

