.library-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-top: 70px;
    background-color: white;
}
.library-welcome-banner{
    height: 120px;
    width: 90%;
    margin: 30px auto;
    font-size: 33px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.library-search {
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.library-songs{
    display: flex;
    flex-direction: row;

}
