.comments-container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 150%; */
    /* margin: 0px -300px; */
}

.comments-total {
    margin: 0px auto;
    text-align: center;
    padding: 10px;
    border-bottom: 1px dotted silver;
    width: 100%;
}

.comments-arr{
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 33%;
}
