.signup-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 1px solid black;
    padding: 5px;
    width: 42%;
    margin: 50px auto;
}

.form-errors {
    color: red;
}

input {
    margin: 5px auto;
}
