.signup-form {
    font-size: 20px;
    /* border: 1px solid silver; */
    width: 38%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 10%;
}

.signup-form h2 {
    margin-bottom: 30px;
    margin-right: -5%;
    font-weight: bold;
}

.signup-form input {
    font-size: 20px;
}

.signup-btn {
    color: white;
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    width: 90px;
    padding: 10px;
    font-size: 16px;
    /* margin-right: 50px;
    margin-bottom: 10px; */
    margin: 10px 12%;
    border: none;
    box-shadow: 2px 2px 5px silver;
}

.signup-btn:hover {
    background-color: rgb(238, 155, 0);
    cursor: pointer;
}

.login-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-btn-container button {
    background-color: transparent;
    border: none;
    outline: none;
    color: orange;
    margin-left: 5px;
}
.login-btn-container button:hover{
    cursor: pointer;
    color: rgba(255, 166, 0, 0.891);
    text-decoration: underline;
}
