.song-detail-page-container{
    width: 90%;
    margin: 0px auto;
    background-color: white;
    min-height: 100vh;
    padding-top: 100px;
    position: relative;
}

.song-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10%;
    padding: 2% 0px;
    width: 80%;
    height: 60%;
    border: 1px solid silver;
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 12px silver; */
    background-color: rgba(210, 210, 210, 0.505);
}

.song-detail-data{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.song-detail-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 50%;
}



.song-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 5px;
    line-height: 1.5rem;
}

.return-link {
    font-size: 14px;
    margin-top: 250px;
}

.song-detail-img {
    width: 100%;
    max-height: 475px;
    /* margin-left: 83%; */
    margin-top: 1%;
    object-fit: cover;
    object-position: center;
}

.song-detail {
    margin-left: 5px;
}

.song-detail-title {
    font-size: 16px;
}

.description {
    color: rgb(100, 100, 100);
}

.song-detail-img-container {
    width: 100%;
}

.song-detail-img-and-buttons{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.song-detail-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.audio-player{
    margin-top: 55%;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
}

@media screen and (max-width: 1500px){
    .audio-player{
        margin-top: 72%;
    }
}

@media screen and (max-width: 1200px){
    .audio-player{
        margin-top: 85%;
    }
}

.song-details-comments-container{
    width: 80%;
    margin: 0px auto;
    min-height: 400px;
    /* padding-bottom: 1%; */
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    background-color: rgb(250, 250, 250);
}

.song-music-player{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}
