.navbar {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
    list-style: none;
    width: 100%;
    background-color: #333;
    height: 55px;
}

.fa-bars {
   display: none;
   width: 10px;
   height: 10px;
}

#home-icon {
   color: red;
}

.navbar-items {
    margin: 20px auto;
   }


.home, .navbar-albums, .navbar-songs {
    color: white;
    text-decoration: none;
}

.home:hover{
    text-decoration: underline;
}

#my-music-btn{
   /* margin-top: -10px; */
   outline: none;
   border: none;
   width: 100px;
   margin-top: 12px;
}

.profile-btn {
   width: 70px;
   height: 35px;
}



.fa-chevron-down, .fa-chevron-up{
   color:#333;
}

 .profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3.5%;
    top: 6%;
    list-style: none;
    color: white;
    height: 30vh;
    background-color: #333;
    width: 15%;
    border-radius: 5px;
    z-index: 5;
    font-size: 20px;
    padding: 1%;
    text-align: center;
 }

 @media screen and (max-width: 1600px){
   .profile-dropdown{
      right: 5%;
   }
 }

 @media screen and (max-width: 1200px){
   .profile-dropdown{
      left: 2%;
      top: 10%;
   }
 }

 .profile-dropdown li {
    margin: 2%;
 }

 /* #profile-btn {
   margin-top: 0px 0px 0px 0px;
 } */

 .fa-user-circle {
   color: orange;
   height: 35px;
   font-size: 25px;
   padding: 3px 5px;
 }

 .logout-btn {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    outline: none;
 }

 .nav-link {
   font-size: 14px;
   margin-top: 10px;
   color: white;
   text-decoration: none;
 }

 .nav-link:hover {
   text-decoration: underline;
 }

 .my-btn {
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    margin-top: 5px;
 }

 .my-btn:hover {
    background-color: rgb(233, 152, 2);
    text-decoration: none;
    cursor: pointer;
 }

 .navbar-albums:hover, .navbar-songs:hover {
    text-decoration: underline;
 }

 .nav-album-link, .nav-song-link {
    color:orange;
    text-decoration: none;
 }

 .nav-album-link:hover, .nav-song-link:hover {
    text-decoration: underline;
 }

 .home-icon:hover, .fa-user-circle:hover{
   color: orange;
   
 }

 

 .home-icon {
   color: white;
   font-size: 24px;
   margin-top: -12px;
 }

 .nav-signup-btn {
   padding-top: 10px;
   text-decoration: none;
   color: white;
   border: none;
 }

 .nav-signup-btn:hover {
   text-decoration: none;
   color: orange;
   cursor: pointer;
 }

 

 
