header {
  background-color: #333;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 45px;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
   position: absolute;
   text-align: left;
   top: 100%;
   left: 0;
   background-color: #333;
   width: 100%;
   transform: scale(1, 0);
   transform-origin: top;
   transition: transform 400ms ease-in-out;
}
nav ul {
   margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
   margin-bottom: 1em;
  margin-left: 1em;
   }

.nav-link{
   color: white;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.nav-link:hover{
   color: orange;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav .nav-link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    /* all: unset;  */
    /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  .nav-link {
    opacity: 1;
    position: relative;
  }
  
  .nav-link::before {
    content: '';
    display: block;
    height: 5px;
    background: orange;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  .nav-link:hover::before {
    transform: scale(1,1);
  }
}

#my-music-btn{
   /* margin-top: -10px; */
   outline: none;
   border: none;
   width: 100px;
   margin: 12px 15%;
   /* background-color: transparent; */
}
#my-music-btn:hover{
   color: orange;
}


.profile-btn {
   width: 70px;
   height: 35px;
}

.fa-chevron-down, .fa-chevron-up{
   color:#333;
}

 .profile-dropdown {
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    right: 3.5%;
    top: 6%;
    list-style: none;
    color: white;
    height: 30vh;
    background-color: #333;
    width: 15%;
    border-radius: 5px;
    z-index: 5;
    font-size: 20px;
    padding: 1%;
    text-align: center;
 }

 @media screen and (max-width: 1600px){
   .profile-dropdown{
      right: 5%;
   }
 }

 @media screen and (max-width: 1200px){
   .profile-dropdown{
      left: 2%;
      top: 10%;
   }
 }

 .profile-dropdown li {
    margin: 2%;
 }

 /* #profile-btn {
   margin-top: 0px 0px 0px 0px;
 } */

 .fa-user-circle {
   color: orange;
   height: 35px;
   font-size: 25px;
   padding: 3px 5px;
 }

 .logout-btn {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 16px;
    /* margin-top: 5px; */
    border: none;
    outline: none;
    text-transform: capitalize;
 }

 .logout-btn:hover{
   cursor: pointer;
   background-color: rgba(255, 0, 0, 0.837);
 }

 /* .nav-link {
   font-size: 14px;
   margin-top: 10px;
   color: white;
   text-decoration: none;
 }

 .nav-link:hover {
   color: orange;
 } */

 .my-btn {
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    margin-top: 5px;
 }

 .my-btn:hover {
    background-color: rgb(233, 152, 2);
    color: floralwhite;
    text-decoration: none;
    cursor: pointer;
 }

 /* .navbar-albums:hover, .navbar-songs:hover {
    color: orange;
 }

 .nav-album-link, .nav-song-link {
    color:orange;
    text-decoration: none;
 }

 .nav-album-link:hover, .nav-song-link:hover {
    text-decoration: underline;
 } */

 .nav-signup-btn {
   padding-top: 10px;
   text-decoration: none;
   color: white;
   border: none;
 }

 .nav-signup-btn:hover {
   text-decoration: none;
   color: orange;
   cursor: pointer;
 }


