.navbar {
   display: block;
    /* margin: 0px -40px; */
    list-style: none;
    width: 100%;
}

.navbar-items {
    /* display: block; */
    /* margin: 0px 80px; */
    /* padding: 5px 20px 5px 20px; */
    height: auto;
    width: 100%;
    background-color: #333;
    /* padding: 0px 15%; */
    padding-bottom: 10px;
}

.nav-link {
   margin: 0px 4.5%;
   /* padding: 0px 10px; */
   
}


.home, .navbar-albums, .navbar-songs {
    color: white;
    text-decoration: none;
}

.home:hover{
    text-decoration: underline;
}

#my-music-btn{
   margin-top: -10px;
}

 .profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 13.5%;
    top: 6%;
    list-style: none;
    color: white;
    height: 30vh;
    background-color: #333;
    width: 15%;
    border-radius: 5px;
    z-index: 5;
    font-size: 20px;
    padding: 1%;
    text-align: center;
 }

 @media screen and (max-width: 1600px){
   .profile-dropdown{
      right: 5%;
   }
 }

 @media screen and (max-width: 1200px){
   .profile-dropdown{
      left: 2%;
      top: 10%;
   }
 }

 .profile-dropdown li {
    margin: 2%;
 }

 /* #profile-btn {
   margin-top: 0px 0px 0px 0px;
 } */

 .fa-user-circle {
   color: orange;
   height: 35px;
   font-size: 25px;
   padding: 5px 2px;
 }

 .logout-btn {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 2px 3px;
    font-size: 16px;
    margin-top: 5px;
 }

 .nav-link {
   font-size: 14px;
   margin-top: 10px;
   color: white;
   text-decoration: none;
 }

 .nav-link:hover {
   text-decoration: underline;
 }

 .my-btn {
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    margin-top: 5px;
 }

 .my-btn:hover {
    background-color: rgb(233, 152, 2);
 }

 .navbar-albums:hover, .navbar-songs:hover {
    text-decoration: underline;
 }

 .nav-album-link, .nav-song-link {
    color:orange;
    text-decoration: none;
 }

 .nav-album-link:hover, .nav-song-link:hover {
    text-decoration: underline;
 }

 .home-icon:hover, .fa-user-circle:hover{
   color: orange;
 }

 

 .home-icon {
   color: white;
   font-size: 24px;
   margin-top: -2px;
 }

 .nav-signup-btn {
   padding-top: 2px;
   text-decoration: none;
   color: white;
 }

 .nav-signup-btn:hover {
   text-decoration: underline;
   color: orange;
 }

 

 
